@mixin color-scheme-light {
	--document-background: white; 
	--block-background: white;
	--block-color: #999;
	--block-size: 160px;
	--block-gap: 8px;
	--dot-color: #ccc;
	--main-background: #eeeee3;
	--results-background: #22222f;
	--results-color: #eee;
	--svg-triangle-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80'%3E%3Cpath d='M70.3 13.8L40 66.3 9.7 13.8z' fill='%23000'%3E%3C/path%3E%3C/svg%3E");
	--title-domain-background: #22222f;
	--title-domain-color: white;
	--title-path-background: #eeeee3;
	--title-path-color: #22222f;
	--title-name-background: #f3f3f0;
	--title-name-color: #444433;
	--total-background: rgba(255, 255, 255, 0.8);
	--text-color: black;

	color-scheme: light;
}

@mixin color-scheme-dark {
	--document-background: #121317; 
	--block-background: #121317;
	--block-color: #77777a;
	--dot-color: #060606;
	--main-background: #08090c;
	--results-background: #0c0e12;
	--results-color: #aaaaac;
	--svg-triangle-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80'%3E%3Cpath d='M70.3 13.8L40 66.3 9.7 13.8z' fill='%23aaaaac'%3E%3C/path%3E%3C/svg%3E");
	--title-domain-background: #08090c;
	--title-domain-color: white;
	--title-path-background: #22222f;
	--title-path-color: #eeeee3;
	--title-name-background: #33333e;
	--title-name-color: #bbbbbe;
	--total-background: rgba(8, 8, 9, 0.8);
	--text-color: #aaaaac;

	color-scheme: dark;
}

html {
	@include color-scheme-light;

	background-color: var(--document-background);
	color: var(--text-color);
	font-family: sans-serif;

	@media (max-width: 360px) {
		--block-size: 45vw;
		--block-gap: min(2.5vw, 8px);
	}

	@media (prefers-color-scheme: light) { @include color-scheme-light; }
	@media (prefers-color-scheme: dark) { @include color-scheme-dark; }
	&.light { @include color-scheme-light; }
	&.dark { @include color-scheme-dark; }
}

#header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	max-width: 81.5rem;
	margin: 0 auto;
	padding: 0 1rem;

	.logo {
		position: fixed;
		bottom: min(10vw, 4rem);
		left: min(10vw, 4rem);
		z-index: 20;

		figure {
			background-image: linear-gradient(135deg, rgba(255,0,255,1) 20%, rgba(1,255,171,1) 80%);;
			border-radius: 4rem;
			display: flex;
			margin: 0;

			&, img {
				height: 4rem;
				width: 4rem;
			}
		}
	}

	h1 {
		align-content: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		font-family: "Consolas", monospace;
		font-size: 20px;
		font-weight: lighter;
		justify-content: left;
		letter-spacing: -0.05em;

		a {
			display: flex;
			flex-wrap: wrap;
			padding: 0 4px;
			text-decoration: none;

			&:hover span {
				text-decoration: underline;
			}

			& > span {
				align-items: center;
				display: flex;
				margin: 0 -4px;
				overflow: hidden;
				position: relative;

				&::before,
				&::after {
					content: " ";
					width: 20px;
				}

				.inner,
				&::before,
				&::after {
					height: 40px;
				}

				&::before {
					transform: translateX(20%) rotate(12deg) scaleY(150%);
				}

				&::after {
					transform: translateX(-20%) rotate(12deg) scaleY(150%);
				}

				.inner {
					align-items: center;
					display: flex;
					position: relative;
					z-index: 1;
				}

				&.domain {
					.inner,
					&::before,
					&::after {
						background-color: var(--title-domain-background);
						color: var(--title-domain-color);
					}
				}

				&.path {
					.inner,
					&::before,
					&::after {
						background-color: var(--title-path-background);
						color: var(--title-path-color);
					}
				}

				&.title {
					.inner,
					&::before,
					&::after {
						background-color: var(--title-name-background);
						color: var(--title-name-color);
						font-family: sans-serif;
						font-weight: 500;
					}
				}
			}
		}
	}

	& > a {
		color: #666;
		padding: 0.5em 1em;
		word-break: keep-all;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.message {
	background-color: hsl(84, 70%, 45%);

	.container {
		display: flex;
		margin: 0 auto;
		max-width: 43.5rem;
		padding: 0 1em;
	}

	p {
		flex-grow: 1;
		margin: 0;
		padding: 0.8em;
		text-align: center;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
		word-break: keep-all;

		&, a {
			color: white;
		}
	}

	button {
		appearance: none;
		border: 0;
		background-color: transparent;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d=' M88.985,81.9L81.9,88.985l-31.9-31.9L17.9,89.172,10.828,82.1,42.92,50.009l-31.9-31.9L18.1,11.015l31.9,31.905,31.53-31.53,7.071,7.071L57.08,49.992Z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: 1em auto;
		box-sizing: content-box;
		cursor: pointer;
		display: block;
		flex-basis: 1em;
		overflow: hidden;
		padding: 0 0.5em;
		text-indent: 4em;
		text-overflow: "";
		white-space: nowrap;
		width: 1em;
	}
}

#footer {
	color: #737373;
	padding: 3rem 0;
	text-align: center;

	figure {
		column-gap: 1.5rem;
		display: flex;
		justify-content: center;
		margin: 1rem auto;
		row-gap: 1rem;

		img {
			height: 3rem;
			width: 3rem;
		}
	}
}

#quote {
	.main {
		background-color: var(--main-background);
		background-image: linear-gradient(0deg, rgba(0,0,0,0.025) 0, rgba(0,0,0,0) 3mm);
		padding: min(10vw, 50mm) 0;
		
		column-gap: var(--block-gap);
		display: flex;
		justify-content: center;
		row-gap: var(--block-gap);
		
		& > .container {
			column-gap: var(--block-gap);
			display: grid;
			grid-auto-flow: column;
			grid-template: repeat(2, var(--block-size)) / repeat(4, var(--block-size));
			justify-content: center;
			margin: var(--block-gap) 0;
			row-gap: var(--block-gap);
		}

		.block {
			&.double-width { grid-column: span 2; }
			&.block.quadruple-width { grid-column: span 4; }

			label {
				box-shadow:
					0.025rem 0.075rem 0.2rem rgba(0, 0, 0, 0.1),
					0 0.5rem 3rem rgba(0, 0, 0, 0.1),
					0 0.5rem 5rem rgba(0, 0, 0, 0.05);
				height: 100%;
				
				.inner {
					background-color: var(--block-background);
					height: 100%;
				}

				h3 { position: absolute; }
			}
			
			.module.container {
				padding-top: 4rem;

				&.unit-postfix {
					padding-right: 3.25rem;
				}
			}

			.unit {
				bottom: 2.6rem;
				position: absolute;
				right: 1.25rem;
			}
		}

		.results .block label .inner {
			background-color: var(--results-background);
			color: var(--results-color);
		}
		
		@media (max-width: 1400px) {
			display: block;
		}
		
		@media (max-width: 700px) {
			& > .container {
				grid-auto-flow: unset;
				grid-template: repeat(4, var(--block-size)) / repeat(2, var(--block-size));

				&.results {
					grid-template: repeat(3, var(--block-size)) / repeat(2, var(--block-size));
				}
			}
			
			.block {
				&.block.quadruple-width { grid-column: span 2; }
			}
		}
	}

	.total {
		position: sticky;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		background: var(--total-background);
		bottom: 0;
		padding-bottom: env(safe-area-inset-bottom, 0);
		padding-top: env(safe-area-inset-top, 0);
		top: 0;
		z-index: 10;
		
		.container {
			align-items: baseline;
			display: flex;
			justify-content: flex-end;
			margin: 0 auto;
			max-width: 65rem;
			padding: 0 0.5em;
		}

		output {
			font-size: 2.5em;
			margin: 0 0.5em;
			padding: 0.3em 0;
		}

		output::before {
			content: "₩";
			font-size: 0.6em;
			margin-right: 0.4em;
			opacity: 0.8;
		}
	}

	.optional {
		& > .container {
			margin: 0 auto;
			max-width: 65rem;
			padding: 2rem;
		}

		fieldset {
			border: 0;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			justify-items: center;
			margin: 0;
			padding: 0;

			@media (max-width: 60rem) {
				& { grid-template-columns: repeat(2, 1fr); }
			}

			@media (max-width: 43.5rem) {
				& { grid-template-columns: repeat(1, 1fr); }
			}
		}

		.block {
			label {
				border-radius: 1rem;
				border: 1px solid transparent;
				box-sizing: border-box;
				display: block;
				margin: 1em 0;
				min-height: 6rem;
				padding: 1em 0.5em 2em;
				position: relative;
				width: 20rem;
				transform: scale(0.99) translateY(1px);
				transition:
					transform 200ms ease-in-out,
					box-shadow 200ms ease-in-out;

				&:hover {
					box-shadow:
						0.025rem 0.075rem 0.2rem rgba(0, 0, 0, 0.05),
						0 0.5rem 3rem rgba(0, 0, 0, 0.05),
						0 0.5rem 5rem rgba(0, 0, 0, 0.03);
					transform: scale(1) translateY(0);
					z-index: 1;
				}

				.inner {
					display: flex;
					align-items: center;

					h3 {
						white-space: pre;
					}

					.unit {
						padding: 0.4em 0.5em 0;
					}
				}
			}

			select {
				font-size: 1rem;
			}
		}
	}
}

.block {
	label {
		border-radius: 1rem;
		display: block;

		.inner {
			border-radius: 1rem;
			box-sizing: border-box;
			padding: 0.5rem;
			position: relative;
			width: 100%;
		}

		h3 {
			font-size: 1.4rem;
			margin: 0.75rem;
			pointer-events: none;
		}

		p {
			color: var(--block-color);
			margin: 0;
			padding: 0 1em 1em;
			word-break: keep-all;
		}

		.dot {
			background-color: var(--dot-color);
			border-radius: 0.45rem;
			display: block;
			height: 0.9rem;
			position: absolute;
			right: 1.5em;
			top: 1.5em;
			transition: background-color 100ms ease-in-out;
			width: 0.9rem;

			&.warn { background-color: #d36; }
		}
	}

	.module.container {
		align-items: center;
		background-color: transparent;
		border: none;
		box-sizing: border-box;
		display: flex;
		font-size: 1.5rem;
		height: 100%;
		justify-content: flex-end;
		padding: 0.5rem 0.75rem;
		text-align: right;
		width: 100%;
		user-select: none;
		-webkit-user-select: none;
	}

	.unit {
		color: #999;
		font-size: 1rem;
		pointer-events: none;
	}

	input[type=text]:focus {
		border: none;
		outline: none;
	}

  input[type=checkbox] {
    display: block;
    height: 1em;
    width: 1em;
  }

	select {
		appearance: none;
		background-repeat: no-repeat;
		background-position: calc(100% - 0.5em) 50%;
		background-size: 0.85em auto;
		background-image: var(--svg-triangle-down);
		color: var(--text-color);

		&.module.container { text-align: left; }
	}
}
